.avatar img {
    width: 100px;
    border-radius: 50%;

}
.bg {
    height: 200px;
    background: url("https://cdnn21.img.ria.ru/images/151794/84/1517948413_0:105:2000:1230_600x0_80_0_0_e12706701a13b6260e2fa5f2e4626c94.jpg") center/cover no-repeat;
}

.descriptionBlock {
    padding: 10px;
}